<ngx-select [items]="getItems()"
            [(ngModel)]="getModel()"
            [defaultValue]="getInitialValues()"
            [searchCallback]="SELECT_SEARCH_CALLBACK"
            [autoActiveOnMouseEnter]="configValue('autoActiveOnMouseEnter', true)"
            [keepSelectMenuOpened]="configValue('keepSelectMenuOpened', false)"
            [autoActiveOnMouseEnter]="configValue('showOptionNotFoundForEmptyItems', false)"
            (typed)="onTyped({ $data: $event })"
            (open)="onOpen({ $event: $event })"
            (close)="onClose({ $event: $event })"
            (select)="onSelect({ $data: $event })"
            (remove)="onRemove({ $data: $event })"
            (navigated)="onNavigated({ $data: $event })"
            (selectionChanges)="onSelectionChanges({ $data: $event })"
></ngx-select>
