<ngx-select #selectExComponent
            [items]="getItems()"
            [defaultValue]="getInitialValues()"
            [searchCallback]="SELECT_SEARCH_CALLBACK"
            [autoActiveOnMouseEnter]="configValue('autoActiveOnMouseEnter', true)"
            [keepSelectMenuOpened]="configValue('keepSelectMenuOpened', false)"
            [showOptionNotFoundForEmptyItems]="configValue('showOptionNotFoundForEmptyItems', false)"
            [optionValueField]="getConfig().optionValueField"
            [optionTextField]="getConfig().optionTextField"
            [optGroupLabelField]="getConfig().optGroupLabelField"
            [optGroupOptionsField]="getConfig().optGroupOptionsField"
            [multiple]="getConfig().multiple"
            [allowClear]="getConfig().allowClear"
            [placeholder]="getConfig().placeholder"
            [noAutoComplete]="getConfig().noAutoComplete"
            [disabled]="getConfig().disabled"
            [autoSelectSingleOption]="getConfig().autoSelectSingleOption"
            [autoClearSearch]="getConfig().autoClearSearch"
            [noResultsFound]="getConfig().noResultsFound"
            [keepSelectedItems]="getConfig().keepSelectedItems"
            [size]="getConfig().size"
            [isFocused]="getConfig().isFocused"
            [autocomplete]="getConfig().autocomplete"
            [dropDownMenuOtherClasses]="getConfig().dropDownMenuOtherClasses"
            (typed)="onTyped({ data: $event })"
            (open)="onOpen({ event: $event })"
            (close)="onClose({ event: $event })"
            (select)="onSelect({ data: $event })"
            (remove)="onRemove({ data: $event })"
            (navigated)="onNavigated({ data: $event })"
            (selectionChanges)="onSelectionChanges({ data: $event })"

            [contextMenu]="selectExContextMenuComponent"
            (contextmenu)="onContextMenu({ event: $event, data: selectExComponent })"
            (keydown)="onKeyDown({ event: $event, data: selectExComponent })"
            (keypress)="onKeyPress({ event: $event, data: selectExComponent })"
            (keyup)="onKeyUp({ event: $event, data: selectExComponent })"
            (click)="onClick({ event: $event, data: selectExComponent })"
            (dblclick)="onDoubleClick({ event: $event, data: selectExComponent })"
            (mousedown)="onMouseDown({ event: $event, data: selectExComponent })"
            (mouseenter)="onMouseEnter({ event: $event, data: selectExComponent })"
            (mouseleave)="onMouseLeave({ event: $event, data: selectExComponent })"
            (mousemove)="onMouseMove({ event: $event, data: selectExComponent })"
            (mouseout)="onMouseOut({ event: $event, data: selectExComponent })"
            (mouseover)="onMouseOver({ event: $event, data: selectExComponent })"
            (mouseup)="onMouseUp({ event: $event, data: selectExComponent })"
            (mousewheel)="onMouseWheel({ event: $event, data: selectExComponent })"
            (focus)="onFocus({ event: $event, data: selectExComponent })"
            (focusin)="onFocusIn({ event: $event, data: selectExComponent })"
            (focusout)="onFocusOut({ event: $event, data: selectExComponent })"
            (blur)="onBlur({ event: $event, data: selectExComponent })"
>
    <ng-template ngx-select-option-selected let-option let-text="text">
        <img #itemImage *ngIf="isEnabledOptionImage()"
             [src]="(getOptionImages(option) || []).length ? getOptionImages(option)[0] : null"
             class="ngx-select-option-selected_option-image option-image"
             (error)="itemImage.style.visibility = 'hidden'"
             (load)="itemImage.style.visibility = 'visible'"
             (click)="openAlbumLightbox(getOptionImages(option), itemImage.src); preventEvent($event)">
        <span class="ngx-select-option_option-label option-label"
              [innerHTML]="translate(option['text'] || option['title'])"></span>
    </ng-template>

    <ng-template ngx-select-option let-option let-text="text">
        <img #itemImage *ngIf="isEnabledOptionImage()"
             [src]="(getOptionImages(option) || []).length ? getOptionImages(option)[0] : null"
             class="ngx-select-option_option-image option-image"
             (error)="itemImage.style.visibility = 'hidden'"
             (load)="itemImage.style.visibility = 'visible'"
             (click)="openAlbumLightbox(getOptionImages(option), itemImage.src); preventEvent($event)">
        <span class="ngx-select-option_option-label option-label"
              [innerHTML]="translate(option['text'] || option['title'])"></span>
    </ng-template>

    <ng-template ngx-select-option-not-found>
        <span class="ngx-select-option-not-found_option-label option-label"
              [innerHTML]="translate(getConfig().noResultsFound)"></span>
    </ng-template>
</ngx-select>

<li #addNewOption class="ngx-select__item-group ngx-select__item ngx-select__item_addNewOption d-none">
    <button nbButton
            [class.d-table]="true"
            [id]="addNewActionConfig().id"
            [title]="addNewActionConfig().description || ''"
            [classList]="addNewActionConfig().class || ''"
            [type]="addNewActionConfig().type || 'button'"
            [filled]="addNewActionConfig().filled"
            [outline]="addNewActionConfig().outline"
            [ghost]="addNewActionConfig().ghost"
            [hero]="addNewActionConfig().hero"
            [fullWidth]="addNewActionConfig().fullWidth"
            [disabled]="addNewActionConfig().disabled"
            [size]="addNewActionConfig().size"
            [shape]="addNewActionConfig().shape"
            [status]="addNewActionConfig().status"
            (click)="onAddNewOption({ event: $event, data: addNewActionConfig() });"
            (mousedown)="onMouseDown({ event: $event, data: addNewActionConfig() })"
            (mouseenter)="onMouseEnter({ event: $event, data: addNewActionConfig() })"
            (mouseleave)="onMouseLeave({ event: $event, data: addNewActionConfig() })"
            (mousemove)="onMouseMove({ event: $event, data: addNewActionConfig() })"
            (mouseout)="onMouseOut({ event: $event, data: addNewActionConfig() })"
            (mouseover)="onMouseOver({ event: $event, data: addNewActionConfig() })"
            (mouseup)="onMouseUp({ event: $event, data: addNewActionConfig() })"
            (mousewheel)="onMouseWheel({ event: $event, data: addNewActionConfig() })"
            (focus)="onFocus({ event: $event, data: addNewActionConfig() })"
            (focusin)="onFocusIn({ event: $event, data: addNewActionConfig() })"
            (focusout)="onFocusOut({ event: $event, data: addNewActionConfig() })"
            (blur)="onBlur({ event: $event, data: addNewActionConfig() })"
    ><span><nb-icon [icon]="addNewActionConfig().icon.icon"
                    *ngIf="addNewActionConfig().icon && addNewActionConfig().icon.icon.length > 0"
                    [pack]="addNewActionConfig().icon.pack"></nb-icon>
        {{addNewActionConfig().label | translate}}</span></button>
</li>

<context-menu #selectExContextMenuComponent
              [disabled]="!contextMenu || !contextMenu.length"
              (close)="onContextMenuClose()">
    <ng-template
        contextMenuItem
        *ngFor="let item of contextMenu"
        [visible]="evalContextMenuItem(item, 'visible', false)"
        [enabled]="evalContextMenuItem(item, 'enabled', false)"
        [divider]="evalContextMenuItem(item, 'divider', false)"
        (execute)="onMenuEvent({ event: $event.event, data: { item: $event.item, menu: item } })"
    >
        <span><nb-icon [icon]="evalContextMenuItem(item, 'icon')" pack="fa"></nb-icon>
            {{evalContextMenuItem(item, 'title', '') | translate}}</span>
    </ng-template>
</context-menu>
