<nb-reveal-card #revealCard
                [revealed]="revealed"
                [showToggleButton]="showToggleButton"
                [contextMenu]="revealCardContextMenuComponent"
                (contextmenu)="onContextMenu({ event: $event, data: revealCard })"
                (keydown)="onKeyDown({ event: $event, data: revealCard })"
                (keypress)="onKeyPress({ event: $event, data: revealCard })"
                (keyup)="onKeyUp({ event: $event, data: revealCard })"
                (click)="onClick({ event: $event, data: revealCard })"
                (dblclick)="onDoubleClick( { event: $event, data: revealCard })"
                (mousedown)="onMouseDown({ event: $event, data: revealCard })"
                (mouseenter)="onMouseEnter({ event: $event, data: revealCard })"
                (mouseleave)="onMouseLeave({ event: $event, data: revealCard })"
                (mousemove)="onMouseMove({ event: $event, data: revealCard })"
                (mouseout)="onMouseOut({ event: $event, data: revealCard })"
                (mouseover)="onMouseOver({ event: $event, data: revealCard })"
                (mouseup)="onMouseUp({ event: $event, data: revealCard })"
                (mousewheel)="onMouseWheel({ event: $event, data: revealCard })"
                (focus)="onFocus({ event: $event, data: revealCard })"
                (focusin)="onFocusIn({ event: $event, data: revealCard })"
                (focusout)="onFocusOut({ event: $event, data: revealCard })"
                (blur)="onBlur({ event: $event, data: revealCard })"
>
    <nb-card-front #cardFrontComponent>
        <ng-template #frontComponent></ng-template>
    </nb-card-front>
    <nb-card-back #cardBackComponent>
        <ng-template #backComponent></ng-template>
    </nb-card-back>
</nb-reveal-card>
<context-menu #revealCardContextMenuComponent
              [disabled]="!contextMenu || !contextMenu.length"
              (close)="onContextMenuClose()">
    <ng-template
        contextMenuItem
        *ngFor="let item of contextMenu"
        [visible]="evalContextMenuItem(item, 'visible', false)"
        [enabled]="evalContextMenuItem(item, 'enabled', false)"
        [divider]="evalContextMenuItem(item, 'divider', false)"
        (execute)="onMenuEvent({ event: $event.event, data: { item: $event.item, menu: item } })"
    >
        <span><nb-icon [icon]="evalContextMenuItem(item, 'icon')" pack="fa"></nb-icon>
            {{evalContextMenuItem(item, 'title', '') | translate}}</span>
    </ng-template>
</context-menu>
