<nb-card>
    <nb-card-header>
        <ng-template #headerHolder></ng-template>
    </nb-card-header>

    <nb-card-body>
        <as-split
            #asSplit
            [contextMenu]="splitPaneContextMenuComponent"
            unit="percent"
            direction="{{isHorizontal() ? 'horizontal' : 'vertical'}}"
            (dragEnd)="onDragEnd({ $data: { unit: 'percent', sizes: $event } })"
            #splitComponent="asSplit">
            <as-split-area
                #area{{index}}
                *ngFor="let index of getNumberOfAreas() | ngxArrayOfNumbers">
                <!-- Split area {{index}} content placeholder -->
                <div class="area-content p-sm-1" (resized)="onResized($event)">
                    <ng-template #splitAreaHolder></ng-template>
                </div>
            </as-split-area>
        </as-split>
        <context-menu #splitPaneContextMenuComponent
                      [disabled]="!contextMenu || !contextMenu.length"
                      (close)="onContextMenuClose()">
            <ng-template
                contextMenuItem
                *ngFor="let item of contextMenu"
                [visible]="item?.visible?.apply(this, [ item ])"
                [enabled]="item?.enabled?.apply(this, [ item ])"
                [divider]="item?.divider?.apply(this, [ item ])"
                (execute)="onMenuEvent({ $event: $event.event, $data: { item: $event.item, menu: item } })"
            ><span><nb-icon [icon]="item?.icon?.apply(this, [ item ])" pack="fa"></nb-icon>
                {{item?.title?.apply(this, [item]) | translate}}</span></ng-template>
        </context-menu>
    </nb-card-body>
</nb-card>
