<div class="cell-editor w-100 d-table" *ngIf="!viewMode">
    <input #serialInput
           matInput
           class="cell-editor-number text-right number-cell mr-sm-1"
           [disabled]="disabled"
           [readonly]="readonly"
           [class.currency]="isCurrency"
           type="number"
           [(ngModel)]="newCellValue"
           (ngModelChange)="onDataChanged({ data: newCellValue })">
</div>
<div class="cell-viewer w-100 d-table" *ngIf="viewMode">
    <span class="d-table-cell w-100 text-right number-cell currency" *ngIf="isCurrency">{{cellValue | currency}}</span>
    <span class="d-table-cell w-100 text-right number-cell" *ngIf="!isCurrency">{{cellValue}}</span>
</div>
