<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="true" [innerHTML]="(cellValue || '') | translate"></div>
    <div *ngSwitchDefault>
        <select [ngClass]="inputClass"
                class="form-control"
                [(ngModel)]="newCellValue"
                (ngModelChange)="onSelectionChanged({ data: newCellValue })"
                [disabled]="disabled || readonly"
                [name]="cellId"
                (click)="onClick.emit($event)"
                (keydown.enter)="onEdited.emit($event)"
                (keydown.esc)="onStopEditing.emit()">
            <option *ngFor="let option of cellColumnConfig?.list" [value]="option.value"
                    [selected]="option.value === newCellValue">
                {{(option.title || option.label || "") | translate}}
            </option>
        </select>
    </div>
</div>
