<nb-card [class.p-0]="!isShowHeader" [class.m-0]="!isShowHeader" class="ngx-smart-table-panel">
    <nb-card-header *ngIf="isShowHeader" class="ngx-smart-table-panel-header">
        <div class="form-group row has-search m-md-auto">
            <label for="search" class="col-form-label">{{tableHeader | translate}}</label>
            <div class="col-sm-5">
                <nb-icon id="searchIcon" icon="search" pack="fa" class="form-control-feedback"></nb-icon>
                <input type="search" #search id="search"
                       [placeholder]="'common.search.placeholder' | translate"
                       class="form-control nb-search pt-0 py-0"
                       [disabled]="isInEditMode"
                       (keydown.enter)="onSearch({ data: search.value })">
            </div>
        </div>
    </nb-card-header>

    <nb-card-body [class.p-0]="!isShowHeader" [class.m-0]="!isShowHeader" class="ngx-smart-table-panel-body">
        <div class="search-form" [class.d-table]="true" [class.w-100]="true" [class.mb-1]="true"
             *ngIf="isShowSearch && searchViewContainerComponent.length">
            <ng-template #searchHolder></ng-template>
        </div>
        <div class="smart-table" [class.d-table]="true" [class.w-100]="true">
            <ng2-smart-table
                #smartTableComponent
                [settings]="config"
                [source]="getDataSource()"
                (rowSelect)="onRowSelect({ data: $event })"
                (userRowSelect)="onUserRowSelect( { data: $event })"
                (create)="onCreate({ data: $event })"
                (createConfirm)="onCreateConfirm({ data: $event })"
                (edit)="onEdit({ data: $event })"
                (editConfirm)="onEditConfirm({ data: $event })"
                (delete)="onDelete({ data: $event })"
                (deleteConfirm)="onDeleteConfirm({ data: $event })"
                [contextMenu]="contextMenuComponent"
                (contextmenu)="onContextMenu({ event: $event, data: smartTableComponent })"
                (keydown)="onKeyDown({ event: $event, data: smartTableComponent })"
                (keypress)="onKeyPress({ event: $event, data: smartTableComponent })"
                (keyup)="onKeyUp({ event: $event, data: smartTableComponent })"
                (click)="onClick({ event: $event, data: smartTableComponent })"
                (dblclick)="onDoubleClick( { event: $event, data: smartTableComponent })"
                (mousedown)="onMouseDown({ event: $event, data: smartTableComponent })"
                (mouseenter)="onMouseEnter({ event: $event, data: smartTableComponent })"
                (mouseleave)="onMouseLeave({ event: $event, data: smartTableComponent })"
                (mousemove)="onMouseMove({ event: $event, data: smartTableComponent })"
                (mouseout)="onMouseOut({ event: $event, data: smartTableComponent })"
                (mouseover)="onMouseOver({ event: $event, data: smartTableComponent })"
                (mouseup)="onMouseUp({ event: $event, data: smartTableComponent })"
                (mousewheel)="onMouseWheel({ event: $event, data: smartTableComponent })"
                (focus)="onFocus({ event: $event, data: smartTableComponent })"
                (focusin)="onFocusIn({ event: $event, data: smartTableComponent })"
                (focusout)="onFocusOut({ event: $event, data: smartTableComponent })"
                (blur)="onBlur({ event: $event, data: smartTableComponent })"
            ></ng2-smart-table>
            <context-menu #contextMenuComponent
                          [disabled]="!contextMenu || !contextMenu.length"
                          (close)="onContextMenuClose()">
                <ng-template
                    contextMenuItem
                    *ngFor="let item of contextMenu"
                    [visible]="evalContextMenuItem(item, 'visible', false)"
                    [enabled]="evalContextMenuItem(item, 'enabled', false)"
                    [divider]="evalContextMenuItem(item, 'divider', false)"
                    (execute)="onMenuEvent({ event: $event.event, data: { item: $event.item, menu: item } })"
                >
                    <span><nb-icon [icon]="evalContextMenuItem(item, 'icon')" pack="fa"></nb-icon>
                        {{evalContextMenuItem(item, 'title', '') | translate}}</span>
                </ng-template>
            </context-menu>
        </div>
    </nb-card-body>
</nb-card>
