<nb-card>
    <nb-card-body>
        <ngx-image-gallery #imageGallery
                           [showAlbum]="true"
                           [allowModified]="true"
                           [images]="getDataModelImages()"
                           (onChange)="onChange($event)"
        ></ngx-image-gallery>
        <div [class.d-table]="true" [class.pt-4]="true">
            <table [class.border-0]="true" style="min-width: 300px; width: 300px;" cellpadding="5">
                <tbody>
                <tr>
                    <td width="75%" [class.border-bottom]="true">{{'warehouse.item.table.stock_on_hand' | translate}}</td>
                    <td width="25%">{{getDataModel() ? getDataModel().stock_on_hand : ''}}</td>
                </tr>
                <tr>
                    <td width="75%" [class.border-bottom]="true">{{'warehouse.item.table.committed_stock' | translate}}</td>
                    <td width="25%">{{getDataModel() ? getDataModel().committed_stock : ''}}</td>
                </tr>
                <tr>
                    <td width="75%" [class.border-bottom]="true">{{'warehouse.item.table.available_stock' | translate}}</td>
                    <td width="25%">{{getDataModel() ? getDataModel().available_stock : ''}}</td>
                </tr>
                <tr>
                    <td width="75%" [class.border-bottom]="true">{{'warehouse.item.table.incoming_stock' | translate}}</td>
                    <td width="25%">{{getDataModel() ? getDataModel().incoming_stock : ''}}</td>
                </tr>
                <tr>
                    <td width="75%" [class.pt-4]="true">{{'warehouse.item.table.quantity_shipped' | translate}}</td>
                    <td width="25%" [class.pt-4]="true">{{getDataModel() ? getDataModel().quantity_shipped : ''}}</td>
                </tr>
                <tr>
                    <td width="75%">{{'warehouse.item.table.quantity_received' | translate}}</td>
                    <td width="25%">{{getDataModel() ? getDataModel().quantity_received : ''}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </nb-card-body>
</nb-card>
