@import '../../../../../@theme/styles/themes';

@include nb-install-component() {
    ::ng-deep .ngx-flipcard-pane-body.flipped {
        margin: 0;
        padding: 0;

        .back-container {
            ngx-split-pane-app-warehouse-item, nb-card {
                box-shadow: none;
            }
        }
    }
}
