<ng-select #selectComponent
           [items]="items"
           [addTag]="getConfigValue('addTag', false)"
           [addTagText]="getConfigValue('addTagText', 'Add item') | translate"
           [appearance]="getConfigValue('appearance')"
           [appendTo]="getConfigValue('appendTo')"
           [bindValue]="getConfigValue('bindValue')"
           [bindLabel]="getConfigValue('bindLabel', 'label')"
           [closeOnSelect]="getConfigValue('closeOnSelect', true)"
           [clearAllText]="getConfigValue('clearAllText', 'Clear all') | translate"
           [clearable]="getConfigValue('clearable', true)"
           [clearOnBackspace]="getConfigValue('clearOnBackspace', true)"
           [compareWith]="getConfigValue('compareWith')"
           [dropdownPosition]="getConfigValue('dropdownPosition', 'auto')"
           [groupBy]="getConfigValue('groupBy')"
           [groupValue]="getConfigValue('groupValue')"
           [selectableGroup]="getConfigValue('selectableGroup', false)"
           [selectableGroupAsModel]="getConfigValue('selectableGroupAsModel', true)"
           [items]="items"
           [loading]="getConfigValue('loading', false)"
           [loadingText]="getConfigValue('loadingText', 'Loading...') | translate"
           [labelForId]="getConfigValue('labelForId')"
           [markFirst]="getConfigValue('markFirst', true)"
           [isOpen]="getConfigValue('isOpen')"
           [maxSelectedItems]="getConfigValue('maxSelectedItems')"
           [hideSelected]="getConfigValue('hideSelected', false)"
           [multiple]="getConfigValue('multiple', false)"
           [notFoundText]="getConfigValue('notFoundText', 'No items found') | translate"
           [placeholder]="getConfigValue('placeholder') | translate"
           [searchable]="getConfigValue('searchable', true)"
           [readonly]="getConfigValue('readonly', false)"
           [searchFn]="getConfigValue('searchFn')"
           [searchWhileComposing]="getConfigValue('searchWhileComposing', true)"
           [trackByFn]="getConfigValue('trackByFn')"
           [clearSearchOnAdd]="getConfigValue('clearSearchOnAdd', true)"
           [editableSearchTerm]="getConfigValue('editableSearchTerm', false)"
           [selectOnTab]="getConfigValue('selectOnTab', false)"
           [openOnEnter]="getConfigValue('openOnEnter', true)"
           [typeahead]="getConfigValue('typeahead')"
           [minTermLength]="getConfigValue('minTermLength', 0)"
           [typeToSearchText]="getConfigValue('typeToSearchText', 'Type to search') | translate"
           [virtualScroll]="getConfigValue('virtualScroll', false)"
           [inputAttrs]="getConfigValue('inputAttrs')"
           [tabIndex]="getConfigValue('tabIndex')"
           [keyDownFn]="getConfigValue('keyDownFn', true)"

           [contextMenu]="selectContextMenuComponent"
           (contextmenu)="onContextMenu({ event: $event, data: selectComponent })"
           (keydown)="onKeyDown({ event: $event, data: selectComponent })"
           (keypress)="onKeyPress({ event: $event, data: selectComponent })"
           (keyup)="onKeyUp({ event: $event, data: selectComponent })"
           (click)="onClick({ event: $event, data: selectComponent })"
           (dblclick)="onDoubleClick({ event: $event, data: selectComponent })"
           (mousedown)="onMouseDown({ event: $event, data: selectComponent })"
           (mouseenter)="onMouseEnter({ event: $event, data: selectComponent })"
           (mouseleave)="onMouseLeave({ event: $event, data: selectComponent })"
           (mousemove)="onMouseMove({ event: $event, data: selectComponent })"
           (mouseout)="onMouseOut({ event: $event, data: selectComponent })"
           (mouseover)="onMouseOver({ event: $event, data: selectComponent })"
           (mouseup)="onMouseUp({ event: $event, data: selectComponent })"
           (mousewheel)="onMouseWheel({ event: $event, data: selectComponent })"
           (focusin)="onFocusIn({ event: $event, data: selectComponent })"
           (focusout)="onFocusOut({ event: $event, data: selectComponent })"
></ng-select>

<context-menu #selectContextMenuComponent
              [disabled]="!contextMenu || !contextMenu.length"
              (close)="onContextMenuClose()">
    <ng-template
        contextMenuItem
        *ngFor="let item of contextMenu"
        [visible]="evalContextMenuItem(item, 'visible', false)"
        [enabled]="evalContextMenuItem(item, 'enabled', false)"
        [divider]="evalContextMenuItem(item, 'divider', false)"
        (execute)="onMenuEvent({ event: $event.event, data: { item: $event.item, menu: item } })"
    >
        <span><nb-icon [icon]="evalContextMenuItem(item, 'icon')" pack="fa"></nb-icon>
            {{evalContextMenuItem(item, 'title', '') | translate}}</span>
    </ng-template>
</context-menu>
