<ng-select #selectComponent
           [id]="id"
           [items]="items"
           [addTag]="getConfigValue('addTag', false)"
           [addTagText]="translate(getConfigValue('addTagText', 'Add item'))"
           [appearance]="getConfigValue('appearance')"
           [appendTo]="getConfigValue('appendTo')"
           [bindValue]="getConfigValue('bindValue')"
           [bindLabel]="getConfigValue('bindLabel', 'label')"
           [closeOnSelect]="getConfigValue('closeOnSelect', true)"
           [clearAllText]="translate(getConfigValue('clearAllText', 'Clear all'))"
           [clearable]="getConfigValue('clearable', true)"
           [clearOnBackspace]="getConfigValue('clearOnBackspace', true)"
           [compareWith]="compareWith"
           [dropdownPosition]="getConfigValue('dropdownPosition', 'auto')"
           [groupBy]="getConfigValue('groupBy')"
           [groupValue]="getConfigValue('groupValue')"
           [selectableGroup]="getConfigValue('selectableGroup', false)"
           [selectableGroupAsModel]="getConfigValue('selectableGroupAsModel', true)"
           [loading]="getConfigValue('loading', false)"
           [loadingText]="translate(getConfigValue('loadingText', 'Loading...'))"
           [labelForId]="getConfigValue('labelForId')"
           [markFirst]="getConfigValue('markFirst', true)"
           [isOpen]="getConfigValue('isOpen')"
           [maxSelectedItems]="getConfigValue('maxSelectedItems')"
           [hideSelected]="getConfigValue('hideSelected', false)"
           [multiple]="getConfigValue('multiple', false)"
           [notFoundText]="translate(getConfigValue('notFoundText', 'No items found'))"
           [placeholder]="getConfigValue('placeholder') | translate"
           [searchable]="getConfigValue('searchable', true)"
           [readonly]="getConfigValue('readonly', false)"
           [searchFn]="getConfigValue('searchFn')"
           [searchWhileComposing]="getConfigValue('searchWhileComposing', true)"
           [trackByFn]="getConfigValue('trackByFn')"
           [clearSearchOnAdd]="getConfigValue('clearSearchOnAdd', true)"
           [editableSearchTerm]="getConfigValue('editableSearchTerm', false)"
           [selectOnTab]="getConfigValue('selectOnTab', false)"
           [openOnEnter]="getConfigValue('openOnEnter', true)"
           [typeahead]="getConfigValue('typeahead')"
           [minTermLength]="getConfigValue('minTermLength', 0)"
           [typeToSearchText]="translate(getConfigValue('typeToSearchText', 'Type to search'))"
           [virtualScroll]="getConfigValue('virtualScroll', false)"
           [inputAttrs]="getConfigValue('inputAttrs')"
           [tabIndex]="getConfigValue('tabIndex')"
           [keyDownFn]="getConfigValue('keyDownFn', true)"

           [contextMenu]="selectContextMenuComponent"
           (contextmenu)="onContextMenu({ event: $event, data: selectComponent })"
           (keydown)="onKeyDown({ event: $event, data: selectComponent })"
           (keypress)="onKeyPress({ event: $event, data: selectComponent })"
           (keyup)="onKeyUp({ event: $event, data: selectComponent })"
           (click)="onClick({ event: $event, data: selectComponent })"
           (dblclick)="onDoubleClick({ event: $event, data: selectComponent })"
           (mousedown)="onMouseDown({ event: $event, data: selectComponent })"
           (mouseenter)="onMouseEnter({ event: $event, data: selectComponent })"
           (mouseleave)="onMouseLeave({ event: $event, data: selectComponent })"
           (mousemove)="onMouseMove({ event: $event, data: selectComponent })"
           (mouseout)="onMouseOut({ event: $event, data: selectComponent })"
           (mouseover)="onMouseOver({ event: $event, data: selectComponent })"
           (mouseup)="onMouseUp({ event: $event, data: selectComponent })"
           (mousewheel)="onMouseWheel({ event: $event, data: selectComponent })"
           (focusin)="onFocusIn({ event: $event, data: selectComponent })"
           (focusout)="onFocusOut({ event: $event, data: selectComponent })"
>
    <ng-template #ngLabelTemplate ng-label-tmp let-item="item" let-index="index">
        <img #itemImage *ngIf="getConfigValue('enableImage', false)"
             [src]="parseOptionFirstImage(item)"
             class="ngx-select-2-option-selected_option-image option-image"
             (error)="itemImage.style.visibility = 'hidden'"
             (load)="itemImage.style.visibility = 'visible'"
             (click)="openAlbumLightbox(parseOptionImages(item), itemImage.src); preventEvent($event)">
        <span class="ngx-select-2-option_option-label option-label"
              [attr.option]="getBindValue(item)"
              [innerHTML]="translate(getBindLabel(item))"></span>
    </ng-template>
    <ng-template #ngOptionTemplate ng-option-tmp let-item="item" let-index="index" disabled="true">
        <img #itemImage *ngIf="getConfigValue('enableImage', false)"
             [src]="parseOptionFirstImage(item)"
             class="ngx-select-2-option-selected_option-image option-image"
             (error)="itemImage.style.visibility = 'hidden'"
             (load)="itemImage.style.visibility = 'visible'"
             (click)="openAlbumLightbox(parseOptionImages(item), itemImage.src); preventEvent($event)">
        <span class="ngx-select-2-option_option-label option-label"
              [attr.option]="getBindValue(item)"
              [innerHTML]="translate(getBindLabel(item))"></span>
    </ng-template>
</ng-select>

<li #addNewOption
    *ngIf="getConfigValue('addNewOption', false)"
    class="ngx-select-2__item-group ngx-select-2__item ngx-select-2__item_addNewOption">
    <button nbButton
            [class.d-table]="true"
            [id]="addNewOptionConfig.id"
            [title]="addNewOptionConfig.description || ''"
            [classList]="addNewOptionConfig.class || ''"
            [type]="addNewOptionConfig.type || 'button'"
            [filled]="addNewOptionConfig.filled"
            [outline]="addNewOptionConfig.outline"
            [ghost]="addNewOptionConfig.ghost"
            [hero]="addNewOptionConfig.hero"
            [fullWidth]="addNewOptionConfig.fullWidth"
            [disabled]="addNewOptionConfig.disabled"
            [size]="addNewOptionConfig.size"
            [shape]="addNewOptionConfig.shape"
            [status]="addNewOptionConfig.status"
            (click)="onAddNewOption({ event: $event, data: addNewOptionConfig });"
            (mousedown)="onMouseDown({ event: $event, data: addNewOptionConfig })"
            (mouseenter)="onMouseEnter({ event: $event, data: addNewOptionConfig })"
            (mouseleave)="onMouseLeave({ event: $event, data: addNewOptionConfig })"
            (mousemove)="onMouseMove({ event: $event, data: addNewOptionConfig })"
            (mouseout)="onMouseOut({ event: $event, data: addNewOptionConfig })"
            (mouseover)="onMouseOver({ event: $event, data: addNewOptionConfig })"
            (mouseup)="onMouseUp({ event: $event, data: addNewOptionConfig })"
            (mousewheel)="onMouseWheel({ event: $event, data: addNewOptionConfig })"
            (focus)="onFocus({ event: $event, data: addNewOptionConfig })"
            (focusin)="onFocusIn({ event: $event, data: addNewOptionConfig })"
            (focusout)="onFocusOut({ event: $event, data: addNewOptionConfig })"
            (blur)="onBlur({ event: $event, data: addNewOptionConfig })"
    ><span><nb-icon [icon]="addNewOptionConfig.icon.icon"
                    *ngIf="addNewOptionConfig.icon && addNewOptionConfig.icon.icon.length > 0"
                    [pack]="addNewOptionConfig.icon.pack"></nb-icon>
        {{addNewOptionConfig.label | translate}}</span></button>
</li>

<context-menu #selectContextMenuComponent
              [disabled]="!contextMenu || !contextMenu.length"
              (close)="onContextMenuClose()">
    <ng-template
        contextMenuItem
        *ngFor="let item of contextMenu"
        [visible]="evalContextMenuItem(item, 'visible', false)"
        [enabled]="evalContextMenuItem(item, 'enabled', false)"
        [divider]="evalContextMenuItem(item, 'divider', false)"
        (execute)="onMenuEvent({ event: $event.event, data: { item: $event.item, menu: item } })"
    >
        <span><nb-icon [icon]="evalContextMenuItem(item, 'icon')" pack="fa"></nb-icon>
            {{evalContextMenuItem(item, 'title', '') | translate}}</span>
    </ng-template>
</context-menu>
