<nb-tabset #tabset
           [fullWidth]="isFullWidth()"
           [routeParam]="getRouteParam()"
           [contextMenu]="tabContextMenuComponent">
    <nb-tab
        #tab{{index}}
        *ngFor="let index of getNumberOfTabs() | ngxArrayOfNumbers">
        <!-- Tab area {{index}} content placeholder -->
        <div class="tab-content" (resized)="onResized($event)">
            <ng-template #tabContentHolder></ng-template>
        </div>
    </nb-tab>
</nb-tabset>
<context-menu #tabContextMenuComponent
              [disabled]="!contextMenu || !contextMenu.length"
              (close)="onContextMenuClose()">
    <ng-template
        contextMenuItem
        *ngFor="let item of contextMenu"
        [visible]="item?.visible?.apply(this, [ item ])"
        [enabled]="item?.enabled?.apply(this, [ item ])"
        [divider]="item?.divider?.apply(this, [ item ])"
        (execute)="onMenuEvent({ $event: $event.event, $data: { item: $event.item, menu: item } })"
    ><span><nb-icon [icon]="item?.icon?.apply(this, [ item ])" pack="fa"></nb-icon>
        {{item?.title?.apply(this, [item]) | translate}}</span></ng-template>
</context-menu>
