<nb-card [ngClass]="['card-panel', panelClass || '']">
    <nb-card-header [ngClass]="['card-panel-header', headerClass || '']">
        <ng-template #cardHeaderHolder></ng-template>
    </nb-card-header>
    <nb-card-body [ngClass]="['card-panel-body', bodyClass || '']">
        <ng-template #cardBodyHolder></ng-template>
    </nb-card-body>
    <nb-card-footer [ngClass]="['card-panel-footer', footerClass || '']">
        <ng-template #cardFooterHolder></ng-template>
    </nb-card-footer>
</nb-card>
