<dp-date-picker #datePicker
                (close)="onClose({ event: $event })"
                (onChange)="onChange({ event: $event })"
                (onGoToCurrent)="onGoToCurrent({ event: $event })"
                (onLeftNav)="onLeftNav({ data: $event })"
                (onRightNav)="onRightNav({ data: $event })"
                (onSelect)="onSelect({ data: $event })"
                (open)="onOpen({ event: $event })"
                [config]="datePickerConfig"
                [mode]="mode"
                [displayDate]="displayDate"
                [disabled]="isDisabled"
                [maxDate]="maxDate"
                [maxTime]="maxTime"
                [minDate]="minDate"
                [minTime]="minTime"
                [placeholder]="(placeholder || '') | translate"
                [theme]="theme"
                [(ngModel)]="model"

                (keydown)="onKeyDown({ event: $event, data: datePicker })"
                (keypress)="onKeyPress({ event: $event, data: datePicker })"
                (keyup)="onKeyUp({ event: $event, data: datePicker })"
                (click)="onClick({ event: $event, data: datePicker })"
                (dblclick)="onDoubleClick({ event: $event, data: datePicker })"
                (mousedown)="onMouseDown({ event: $event, data: datePicker })"
                (mouseenter)="onMouseEnter({ event: $event, data: datePicker })"
                (mouseleave)="onMouseLeave({ event: $event, data: datePicker })"
                (mousemove)="onMouseMove({ event: $event, data: datePicker })"
                (mouseout)="onMouseOut({ event: $event, data: datePicker })"
                (mouseover)="onMouseOver({ event: $event, data: datePicker })"
                (mouseup)="onMouseUp({ event: $event, data: datePicker })"
                (mousewheel)="onMouseWheel({ event: $event, data: datePicker })"
                (focus)="onFocus({ event: $event, data: datePicker })"
                (focusin)="onFocusIn({ event: $event, data: datePicker })"
                (focusout)="onFocusOut({ event: $event, data: datePicker })"
                (blur)="onBlur({ event: $event, data: datePicker })"
></dp-date-picker>
