@import '../../../../../@theme/styles/themes';

@include nb-install-component() {
    ::ng-deep ngx-tree-view-dropdown ngx-dropdown-treeview {
        .btn:focus,.btn.focus { box-shadow: none; }
        .btn.dropdown-toggle { padding: 0; white-space: pre-wrap; }
        .dropdown-menu { width: 100%; }
    }
}
