<div class="form-field form-password-field" *ngIf="visible">
    <input #passwordField
           type="password" matInput
           [readOnly]="to.readonly"
           [disabled]="to.disabled"
           [placeholder]="to.placeholder"
           [title]="to.description"
           [formControl]="formControl"
           [tabIndex]="to.tabindex"
           [autocomplete]="false"
    >
    <mat-icon matSuffix
              class="toggle-password"
              [class.fa]="true"
              [class.fa-toggle-on]="passwordField.type === 'password'"
              [class.fa-toggle-off]="passwordField.type === 'text'"
              (click)="toggleShowHidePassword()"></mat-icon>
</div>
