@import '../../../@theme/styles/themes';

@include nb-install-component() {
    ::ng-deep ngx-image-gallery .images-album {
        max-width: 200px;

        .primary-image {
            max-width: 200px;

            .primary-image-preview {
                min-width: 200px;
                min-height: 200px;
                width: 200px;
                height: 200px;
                cursor: pointer;

                img {
                    cursor: pointer;
                }
            }
        }

        .images-gallery {
            .images-gallery-item {
                cursor: pointer;
                width: 48px;
                height: 48px;

                img {
                    cursor: pointer;
                }

                .images-gallery-item-remover {
                    cursor: pointer;
                    font-size: smaller;
                    color: #ff0000;
                }
            }

            .images-gallery-item-pluser {
                cursor: pointer;
            }
        }
    }
}
