<form [formGroup]="getFormGroup()"
      (ngSubmit)="onSubmit({ $event: $event, $data: getModel() })">
    <formly-form [model]="getModel()"
                 [fields]="getFields()"
                 [options]="getOptions()"
                 [form]="getFormGroup()">
        <div class="d-flex text-center w-100 align-content-center">
            <div class="btn-group btn-group-justified d-lg-table pt-lg-5 pb-md-3">
                <div class="btn-group pl-5 pr-5 d-table-cell" *ngFor="let action of getActions()">
                    <!-- disabled && not full width -->
                    <button
                        nbButton
                        [id]="action.id"
                        [title]="action.description"
                        [classList]="action.class || ''"
                        [type]="action.type"
                        [filled]="action.filled"
                        [outline]="action.outline"
                        [ghost]="action.ghost"
                        [hero]="action.hero"
                        [fullWidth]="action.fullWidth"
                        [disabled]="action.disabled"
                        [size]="action.size"
                        [shape]="action.shape"
                        [status]="action.status"
                        (click)="action.click && action.click({ $event: $event, $data: { form: getFormGroup(), model: getModel() } });"
                        (mousedown)="onMouseDown({ $event: $event, $data: action })"
                        (mouseenter)="onMouseEnter({ $event: $event, $data: action })"
                        (mouseleave)="onMouseLeave({ $event: $event, $data: action })"
                        (mousemove)="onMouseMove({ $event: $event, $data: action })"
                        (mouseout)="onMouseOut({ $event: $event, $data: action })"
                        (mouseover)="onMouseOver({ $event: $event, $data: action })"
                        (mouseup)="onMouseUp({ $event: $event, $data: action })"
                        (mousewheel)="onMouseWheel({ $event: $event, $data: action })"
                        (focus)="onFocus({ $event: $event, $data: action })"
                        (focusin)="onFocusIn({ $event: $event, $data: action })"
                        (focusout)="onFocusOut({ $event: $event, $data: action })"
                        (blur)="onBlur({ $event: $event, $data: action })"
                    ><span><nb-icon [icon]="action.icon.icon" *ngIf="action.icon" [pack]="action.icon.pack"></nb-icon>
                        {{action.label | translate}}</span></button>
                </div>
            </div>
        </div>
    </formly-form>
</form>
