@import './themes';

@mixin nb-overrides() {
    nb-select.size-medium button {
        padding: 0.4375rem 2.2rem 0.4375rem 1.125rem !important;

        nb-icon {
            right: 0.41rem !important;
        }
    }

    nb-auth nb-card-header {
        display: none !important;
    }

    nb-card-header {
        padding: 0.5rem 1rem;
    }
    nb-card-body {
        padding: 1rem;
    }

    nb-layout-header nav {
        height: 3.75rem;
        padding: 0 1rem;
    }
    nb-layout-header.fixed ~ .layout-container {
        padding-top: 3.75rem;
    }
    nb-layout .layout .layout-container .content {
        .columns nb-layout-column {
            padding: 1rem 1rem 0.75rem;
        }

        nb-layout-footer nav {
            padding: 0.5rem;
        }
    }

    nb-sidebar .scrollable {
        padding-top: 0 !important;
    }
    nb-sidebar.compacted {
        display: none;
    }

    nb-card-body {
        ng2-smart-table {
            table {
                tr {
                    th, td {
                        padding: 0.5rem 1rem;

                        button, input, optgroup, select, textarea {
                            color: nb-theme(color-basic-800);
                            height: inherit;
                        }
                    }
                }

                tr.ng2-smart-titles th {
                    padding: 0.5rem 1rem;
                }

                tr.selected, tr.hover {
                    background-color: nb-theme(color-primary-focus);
                }
            }
        }
    }

    /* Bootstrap 4 text input with search icon */
    .has-search .form-control {
        padding-left: 2.375rem;
    }
    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: nb-theme(color-basic-800);
    }

    /* Angular Material theme */
    .mat-form-field-flex {
        padding-top: 0.5em;
    }

    /* SplitPane */
    .as-horizontal > .as-split-gutter, .as-vertical > .as-split-gutter {
        background-color: transparent !important;
    }
}
