@import './themes';
@import './themes';

@mixin nb-overrides() {
    @for $i from 0 through 100 {
        .w-#{$i} { width : round(percentage($i/100)); }
    }
    @for $i from 1 through 10 {
        @for $j from 1 through 10 {
            .w-#{$i}-#{$j} { width : percentage($i/$j); }
        }
    }

    // for large screen such as 2560px PC
    @media screen and (min-width: 2048px) {
        nb-layout.window-mode {
            padding-top: 0;
            .scrollable-container {
                height: 100vh;
                max-width: 100vw;
                nb-layout-header {
                    max-width: 100vw;
                    nav {
                        max-width: 100vw;
                    }
                    &.fixed {
                        top: 0;
                    }
                    &.fixed ~ .layout-container nb-sidebar .main-container-fixed {
                        top: 4.75rem;
                        height: calc(100vh - 4.75rem);
                    }
                }
            }
        }
    }

    nb-select.size-medium button {
        padding: 0.4375rem 2.2rem 0.4375rem 1.125rem !important;

        nb-icon {
            right: 0.41rem !important;
        }
    }

    nb-auth nb-card-header {
        display: none !important;
    }

    nb-card-header {
        padding: 1rem 1rem 0.5rem;
    }
    nb-card-body {
        padding: 1rem;
    }

    nb-layout-header nav {
        height: 3.75rem;
        padding: 0 1rem;
    }
    nb-layout-header.fixed ~ .layout-container {
        padding-top: 3.75rem;
    }
    nb-layout .layout .layout-container .content {
        .columns nb-layout-column {
            /*padding: 1rem 1rem 0.75rem;*/
            padding: 0;
        }

        nb-layout-footer nav {
            padding: 0.5rem;
        }
    }

    nb-sidebar .scrollable {
        padding-top: 0 !important;
    }
    nb-sidebar.compacted {
        display: none;
    }

    /* Bootstrap 4 text input with search icon */
    .has-search .form-control {
        padding-left: 2.375rem;
    }
    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: nb-theme(color-basic-800);
    }

    /* Angular Material theme */
    .mat-form-field-flex {
        padding-top: 0.5em;
    }

    /* Nebular Buttons */
    [nbButton][class*='appearance-'] {
        text-transform: capitalize;
    }

    /* SplitPane */
    .as-horizontal > .as-split-gutter, .as-vertical > .as-split-gutter {
        background-color: transparent !important;
    }

    /* mat-form-field */
    .mat-form-field.mat-form-field-disabled {
        cursor: not-allowed;
        pointer-events: none;
    }

    /* tree-view */
    .ngx-treeview .dropdown-container .treeview-container .treeview-item,
    .treeview-container .treeview-item {
        .row-item-disabled [aria-disabled='true'],
        .row-item-disabled .form-check-label[aria-disabled='true'] {
            color: nb-theme(text-disabled-color);
            pointer-events: none;
            cursor: not-allowed;
        }
        nb-icon,
        .item-image {
            cursor: pointer;
        }
        nb-icon,
        .row-item-disabled .item-image, .item-image {
            width: 24px;
            height: 24px;
            cursor: pointer;
            padding: 2px;
            pointer-events: all;
        }
    }
    .ngx-treeview .treeview-container .row-item.selected,
    .ngx-treeview .treeview-container .row-item.selected:hover,
    .ngx-treeview .treeview-container .row-item.selected:active,
    .ngx-treeview .treeview-container .row-item.selected:focus {
        background-color: nb-theme(color-basic-focus-border);
    }
    .dropdown-menu .dropdown-container {
        padding: 0 0.6rem;
    }
    .form-dropdown-treeview-select ngx-tree-view-dropdown ngx-dropdown-treeview {
        .btn.dropdown-toggle::after {
            right: 0;
        }
    }
    .form-dropdown-treeview {
        .mat-form-field-label-wrapper .mat-form-field-label {
            top: 1.6125em;
        }
    }
    .dropdown-menu.ngx-treeview .dropdown-container {
        padding: 0 0.6rem;
    }
    .mat-form-field.mat-form-field-disabled ngx-tree-view-dropdown ngx-dropdown-treeview,
    .mat-form-field.mat-form-field-disabled ngx-tree-view-dropdown ngx-dropdown-treeview .btn.dropdown-toggle {
        pointer-events: none;
    }

    /* ngx-select-ex */
    ngx-select {
        .ngx-select__choices .ngx-select__item-group .ngx-select__item {
            color: inherit;
            background-color: transparent;
        }

        .ngx-select__choices .ngx-select__item-group .ngx-select__item_active {
            background-color: nb-theme(color-basic-focus-border);
        }

        .ngx-select__clear.btn {
            font-size: x-small;
            font-weight: normal;

            .ngx-select__clear-icon::before,
            .ngx-select__clear-icon::after {
                border-top-width: 2px;
            }
        }
    }

    /* mat-option */
    .mat-option:hover:not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled) {
        background-color: nb-theme(color-basic-focus-border);
    }
    .mat-form-field.form-field-select-ex .mat-form-field-infix,
    .mat-form-field.form-field-select-ex-image .mat-form-field-infix {
        padding: 0.1775rem 0;
    }

    /* Upload file */
    .form-files-gallery-file .mat-form-field .mat-form-field-wrapper .mat-form-field-underline {
        display: none;
    }
    .form-files-gallery-file .mat-form-field-can-float.mat-form-field-should-float {
        .mat-form-field-wrapper .primary-upload-file {
            padding-left: 0;
        }
    }

    /* Modal dialog */
    .modal .modal-dialog {
        max-width: 70%;
        max-height: 100%;
        overflow: hidden;

        .modal-content {
            max-height: 100%;

            .modal-header {
                padding: 0.5rem 1rem;

                .modal-title {
                    font-size: 1rem;
                }
            }

            .modal-body {
                overflow: auto;
            }

            .modal-footer {
                padding: 0.5rem;
            }
        }
    }
    .modal.version-modal {
        .modal-dialog.version-dialog {
            .modal-content .modal-body {
                padding: 0 1rem;
            }
        }
    }

    /* date-picker */
    dp-month-calendar .dp-month-calendar-container,
    dp-day-calendar .dp-day-calendar-container {
        font: inherit;
        padding: 5px;
        background-color: transparent;

        dp-calendar-nav .dp-calendar-nav-container {
            border: none;
            background-color: transparent;

            .dp-nav-header,
            .dp-nav-header .dp-nav-header-btn,
            .dp-nav-header .dp-nav-header-btn:focus {
                outline: none;
                border: none;
                background-color: transparent;
            }

            .dp-nav-btns-container,
            .dp-nav-btns-container .dp-calendar-nav-container-left,
            .dp-nav-btns-container .dp-calendar-nav-container-left .dp-calendar-nav-left,
            .dp-nav-btns-container .dp-calendar-nav-container-left .dp-calendar-nav-left:focus,
            .dp-nav-btns-container .dp-calendar-nav-container-right,
            .dp-nav-btns-container .dp-calendar-nav-container-right .dp-calendar-nav-right,
            .dp-nav-btns-container .dp-calendar-nav-container-right .dp-calendar-nav-right:focus {
                outline: none;
                border: none;
                background-color: transparent;
            }
        }

        .dp-calendar-wrapper {
            .dp-weekdays {
                font: inherit;

                .dp-calendar-weekday {
                    padding: 5px;
                    width: 35px;
                    border-left: none;
                }
            }
            .dp-calendar-week {
                font:  inherit;

                .dp-calendar-day,
                .dp-calendar-day:focus {
                    border: none;
                    outline: none;
                    padding: 5px;
                    width: 35px;
                }
            }
        }
    }
    .mat-form-field.form-field-date-picker {
        .mat-form-field-wrapper .mat-form-field-flex {
            .mat-form-field-infix {
                padding: 0.3375em 0 0.4375em 0;
            }
        }
    }

    /* Batch statuses */
    .status-overdue {
        color: red;
        padding-right: 5px;
    }
    .status-expired {
        color: #e0a800;
        padding-right: 5px;
    }
    .status-near-expired {
        color: #3498db;
        padding-right: 5px;
    }

    /* Toaster */

    /* mat-textarea */
    textarea.mat-input-element {
        resize: none !important;
        overflow: hidden;
    }

    /* @ng-select/ng-select */
    .ng-select {
        padding-bottom: 0;
        .ng-select-container {
            min-height: 30px;
            .ng-value-container {
                border-top: none;
                padding: 0;
                min-height: 30px;
            }
            &::after {
                content: none;
            }
        }
    }
    .ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-value {
        color: inherit;
    }
    .ng-select.ng-select-single .ng-select-container .ng-arrow-wrapper {
        bottom: 9px;
    }
    .ng-select.ng-select-single .ng-select-container .ng-clear-wrapper {
        bottom: 5px;
    }
    .ng-select .ng-select-container .ng-value-container .ng-input {
        bottom: 0.2375em;
        padding: 0 4px;
    }
    .ng-select .ng-select-container .ng-value-container .ng-input input[role='combobox'] {
        min-height: 20px !important;
    }
    .ng-select .ng-select-container .ng-value-container .ng-value {
        padding: 5px;
    }
    .ng-dropdown-panel {
        min-width: 150px !important;
        .ng-dropdown-panel-items .ng-option {
            min-height: 2.5em;
            line-height: 2.5em;
            padding: 0 15px;

            .option-image {
                width: 24px;
                height: 24px;
                cursor: pointer;
                padding: 2px;
            }

            .ngx-select-2__choices .ngx-select-2__item_addNewOption {
                padding: 3px 20px;
            }
        }
    }
    .mat-form-field.form-field-ngx-select .mat-form-field-label-wrapper .mat-form-field-label,
    .mat-form-field.form-field-ngx-select-image .mat-form-field-label-wrapper .mat-form-field-label {
        top: 1.65125em;
    }
    .mat-form-field.form-field-ngx-select .mat-form-field-infix,
    .mat-form-field.form-field-ngx-select-image .mat-form-field-infix {
        padding: 0.3775rem 0;
    }
    .mat-form-field.form-field-ngx-select .mat-form-field-wrapper .mat-form-field-flex,
    .mat-form-field.form-field-ngx-select-image .mat-form-field-wrapper .mat-form-field-flex {
        padding-top: 0;
    }
    .mat-form-field.form-field-ngx-select .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix,
    .mat-form-field.form-field-ngx-select-image .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
        padding-bottom: 0;
    }

    /* smart table */
    ng2-smart-table {
        tr.ng2-smart-row {
            height: 37px;
        }
        tr td {
            ng2-smart-table-cell {
                table-cell-edit-mode {
                    input:read-only,
                    input:disabled,
                    input[readonly='true'],
                    input[disabled='true'] {
                        border: none !important;
                    }

                    table-cell-custom-editor {
                        .cell-editor-number.mat-error,
                        .mat-error {
                            border-color: #f44336 !important;

                            ng-select, input {
                                border-color: #f44336 !important;
                            }
                        }
                    }
                }
            }
        }
    }

    /* HTML5 input number - Hide spin box */
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
}
