<nb-card>
    <nb-card-header>
        <!--<div class="input-group">
            <div class="input-group-prepend"><nb-icon id="searchIcon" icon="search" pack="fa"></nb-icon></div>
            <input type="text" #search id="search" placeholder="Search"
                   class="nb-search"
                   (keydown.enter)="onSearch(search.value)">
        </div>-->
        {{tableHeader}}
    </nb-card-header>

    <nb-card-body>
        <ng2-smart-table [settings]="settings"
                         [source]="dataSource"
                         (rowSelect)="onRowSelect($event)"
                         (userRowSelect)="onUserRowSelect($event)"
                         (mouseover)="onMouseOver($event)"
                         (create)="onCreate($event)"
                         (createConfirm)="onCreateConfirm($event)"
                         (edit)="onEdit($event)"
                         (editConfirm)="onEditConfirm($event)"
                         (delete)="onDelete($event)"
                         (deleteConfirm)="onDeleteConfirm($event)"
                         [contextMenu]="contextMenuComponent"
                         (contextmenu)="onContextMenu($event)"
                         (keydown)="onKeyDown($event)"
                         (keypress)="onKeyPress($event)"
                         (keyup)="onKeyUp($event)"
        ></ng2-smart-table>
        <context-menu #contextMenuComponent
                      [disabled]="!contextMenu || !contextMenu.length"
                      (close)="onContextMenuClose()">
            <ng-template
                contextMenuItem
                *ngFor="let item of contextMenu"
                [visible]="item?.visible?.apply(this, [ undefined ])"
                [enabled]="item?.enabled?.apply(this, [ undefined ])"
                [divider]="item?.divider?.apply(this, [ undefined ])"
                (execute)="item?.click?.apply(this, [ $event.item ])"
            ><span><nb-icon [icon]="item?.icon?.apply(this, [ undefined ])" pack="fa"></nb-icon>
                {{item?.title?.apply(this, [undefined])}}</span></ng-template>
        </context-menu>
    </nb-card-body>
</nb-card>
