@import '../../../@theme/styles/themes';

@include nb-install-component() {
    ::ng-deep nb-card {
        transform: translate3d(0, 0, 0);
    }

    ::ng-deep nb-flip-card .flipcard-body .front-container { display: flex; }
    ::ng-deep nb-flip-card .flipcard-body .back-container { display: none; }

    ::ng-deep nb-flip-card.flipped .flipcard-body .front-container { display: none; }
    ::ng-deep nb-flip-card.flipped .flipcard-body .back-container { display: flex; }

    ::ng-deep nb-flip-card .flipcard-body .front-container {
        flex: 0.5;
        > *:not(.d-flex) { flex: 1; }
    }
    ::ng-deep nb-flip-card .flipcard-body .back-container {
        > *:not(.d-flex) { flex: 1; }
    }
}
