<div class="cell-editor d-flex flex-column flex-wrap" *ngIf="!viewMode">
    <div class="cell-editor-row d-flex flex-row flex-nowrap"
         *ngFor="let batch of newCellValue; let index = index; let last = last">
        <div class="cell-editor-batch mr-sm-1">
            <ngx-select-2-app-module-warehouse-batch-no
                (onSelect)="onSelect($event, index)"
                [disabledValues]="selectedBatchCodes"
            ></ngx-select-2-app-module-warehouse-batch-no>
        </div>
        <input #quantityInput
               matInput
               class="cell-editor-batch-number text-right number-cell mr-sm-1"
               type="number"
               [(ngModel)]="batch.quantity">
        <div class="cell-editor-batch-remover mr-sm-1">
            <nb-icon [pack]="'fas'"
                     [icon]="'minus'"
                     (click)="removeBatch(index)"
                     *ngIf="newCellValue.length > 1"
            ></nb-icon>
        </div>
        <div class="cell-editor-batch-pluser mr-sm-1">
            <nb-icon [pack]="'fas'"
                     [icon]="'plus'"
                     (click)="addBatch()"
                     *ngIf="last"
            ></nb-icon>
        </div>
    </div>
</div>
<div class="cell-viewer d-table" *ngIf="viewMode">
    <div class="batch-row d-table-row" *ngFor="let batch of warehouseDetailBatches">
        <div class="batch-cell d-table-cell text-left w-75" [innerHTML]="batch.viewBatch"></div>
        <div class="batch-cell d-table-cell text-right w-25" [innerHTML]="batch.quantity"></div>
    </div>
</div>
