@import '../../../../../@theme/styles/themes';

@include nb-install-component() {
    ::ng-deep nb-card {
        transform: translate3d(0, 0, 0);
    }
    ::ng-deep ngx-treeview ngx-treeview-item {
        .item-image {
            width: 32px;
            height: 32px;
            padding-right: 5px;
        }
    }
}
