@import '../../../../../@theme/styles/themes';

@include nb-install-component() {
	::ng-deep {
		height: 100%;
		nb-card.ngx-flipcard-pane {
			height: 100%;
			nb-card-body.ngx-flipcard-pane-body {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}
