@import '../../../../../@theme/styles/themes';

@include nb-install-component() {
    ::ng-deep ng2-smart-table table {
        tr td, tr.ng2-smart-titles th {
            padding: 0.5rem 0.25rem !important;
        }
        tr td {
            vertical-align: top;

            table-cell-view-mode,
            table-cell-view-mode custom-view-component,
            table-cell-view-mode custom-view-component ngx-smart-table-number-cell {
                width: 100%;
                display: block;
            }
        }
        tr td table-cell-edit-mode table-cell-custom-editor {
            ng-select, input {
                border-radius: 3px;
                border: 1px solid rgb(162, 163, 165);
            }
            input:read-only, input:disabled {
                border: none;
            }
            input {
                min-height: 30px;
                padding: 3px;
            }
        }
        thead {
            th.ng2-smart-th {
                .ng2-smart-title .ng2-smart-sort {
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &.item_code {
                    width: 20% !important;
                }
                &.batches {
                    width: 20% !important;
                }
                &.series {
                    width: 10% !important;
                }
                &.storage {
                    width: 20% !important;
                }
                &.quantity_orders {
                    width: 10% !important;
                }
                &.unit_price {
                    width: 10% !important;
                }
                &.amount {
                    width: 10% !important;
                }
            }
        }
        tfoot tr td {
            padding: 0.5rem 0.25rem;
            text-align: right;

            .inventory-sum-label,
            .inventory-sum-quantity,
            .inventory-sum-price,
            .inventory-total-price {
                min-height: 30px;
                padding: 3px;
                width: 100%;
                font-weight: bolder;
            }
        }
    }
}
