<ngx-treeview
    #treeviewComponent
    *ngIf="!isDropDown()"
    [config]="getConfig()"
    [items]="getTreeviewItems()"
    [itemTemplate]="itemTemplate"
    [contextMenu]="treeviewContextMenuComponent"
    (contextmenu)="onContextMenu({ $event: $event, $data: treeviewComponent })"
    (keydown)="onKeyDown({ $event: $event, $data: treeviewComponent })"
    (keypress)="onKeyPress({ $event: $event, $data: treeviewComponent })"
    (keyup)="onKeyUp({ $event: $event, $data: treeviewComponent })"
    (click)="onClick({ $event: $event, $data: treeviewComponent })"
    (dblclick)="onDoubleClick({ $event: $event, $data: treeviewComponent })"
    (mousedown)="onMouseDown({ $event: $event, $data: treeviewComponent })"
    (mouseenter)="onMouseEnter({ $event: $event, $data: treeviewComponent })"
    (mouseleave)="onMouseLeave({ $event: $event, $data: treeviewComponent })"
    (mousemove)="onMouseMove({ $event: $event, $data: treeviewComponent })"
    (mouseout)="onMouseOut({ $event: $event, $data: treeviewComponent })"
    (mouseover)="onMouseOver({ $event: $event, $data: treeviewComponent })"
    (mouseup)="onMouseUp({ $event: $event, $data: treeviewComponent })"
    (mousewheel)="onMouseWheel({ $event: $event, $data: treeviewComponent })"
    (focus)="onFocus({ $event: $event, $data: dropdownTreeviewComponent })"
    (focusin)="onFocusIn({ $event: $event, $data: dropdownTreeviewComponent })"
    (focusout)="onFocusOut({ $event: $event, $data: dropdownTreeviewComponent })"
    (blur)="onBlur({ $event: $event, $data: dropdownTreeviewComponent })"
>
</ngx-treeview>

<ngx-dropdown-treeview
    #dropdownTreeviewComponent
    *ngIf="isDropDown()"
    [buttonClass]="getButtonClass()"
    [config]="getConfig()"
    [items]="getTreeviewItems()"
    [itemTemplate]="itemTemplate"
    [contextMenu]="treeviewContextMenuComponent"
    (contextmenu)="onContextMenu({ $event: $event, $data: dropdownTreeviewComponent })"
    (keydown)="onKeyDown({ $event: $event, $data: dropdownTreeviewComponent })"
    (keypress)="onKeyPress({ $event: $event, $data: dropdownTreeviewComponent })"
    (keyup)="onKeyUp({ $event: $event, $data: dropdownTreeviewComponent })"
    (click)="onClick({ $event: $event, $data: dropdownTreeviewComponent })"
    (dblclick)="onDoubleClick({ $event: $event, $data: dropdownTreeviewComponent })"
    (mousedown)="onMouseDown({ $event: $event, $data: dropdownTreeviewComponent })"
    (mouseenter)="onMouseEnter({ $event: $event, $data: dropdownTreeviewComponent })"
    (mouseleave)="onMouseLeave({ $event: $event, $data: dropdownTreeviewComponent })"
    (mousemove)="onMouseMove({ $event: $event, $data: dropdownTreeviewComponent })"
    (mouseout)="onMouseOut({ $event: $event, $data: dropdownTreeviewComponent })"
    (mouseover)="onMouseOver({ $event: $event, $data: dropdownTreeviewComponent })"
    (mouseup)="onMouseUp({ $event: $event, $data: dropdownTreeviewComponent })"
    (mousewheel)="onMouseWheel({ $event: $event, $data: dropdownTreeviewComponent })"
    (focus)="onFocus({ $event: $event, $data: dropdownTreeviewComponent })"
    (focusin)="onFocusIn({ $event: $event, $data: dropdownTreeviewComponent })"
    (focusout)="onFocusOut({ $event: $event, $data: dropdownTreeviewComponent })"
    (blur)="onBlur({ $event: $event, $data: dropdownTreeviewComponent })"
>
</ngx-dropdown-treeview>

<ng-template #itemTemplate
             let-item="item"
             let-onCollapseExpand="onCollapseExpand"
             let-onCheckedChange="onCheckedChange">
    <div class="form-inline row-item"
         [id]="item.value['id'] || ''"
         [contextMenu]="treeviewContextMenuComponent"
         (contextmenu)="onContextMenu({ $event: $event, $data: item })"
         (keydown)="onKeyDown({ $event: $event, $data: item })"
         (keypress)="onKeyPress({ $event: $event, $data: item })"
         (keyup)="onKeyUp({ $event: $event, $data: item })"
         (click)="onClick({ $event: $event, $data: item })"
         (dblclick)="onDoubleClick({ $event: $event, $data: item })"
         (mousedown)="onMouseDown({ $event: $event, $data: item })"
         (mouseenter)="onMouseEnter({ $event: $event, $data: item })"
         (mouseleave)="onMouseLeave({ $event: $event, $data: item })"
         (mousemove)="onMouseMove({ $event: $event, $data: item })"
         (mouseout)="onMouseOut({ $event: $event, $data: item })"
         (mouseover)="onMouseOver({ $event: $event, $data: item })"
         (mouseup)="onMouseUp({ $event: $event, $data: item })"
         (mousewheel)="onMouseWheel({ $event: $event, $data: item })"
         (focus)="onFocus({ $event: $event, $data: item })"
         (focusin)="onFocusIn({ $event: $event, $data: item })"
         (focusout)="onFocusOut({ $event: $event, $data: item })"
         (blur)="onBlur({ $event: $event, $data: item })"
    >
        <nb-icon *ngIf="item.children && item.collapsed"
                 pack="fa" icon="caret-right"
                 (click)="onCollapseExpand()"></nb-icon>
        <nb-icon *ngIf="item.children && !item.collapsed"
                 pack="fa" icon="caret-down"
                 (click)="onCollapseExpand()"></nb-icon>
        <div class="form-check">
            <input type="checkbox" class="form-check-input"
                   *ngIf="isEnabledItemCheck()"
                   [(ngModel)]="item.checked"
                   (ngModelChange)="onCheckedChange()"
                   [disabled]="item.disabled"
                   [indeterminate]="item.indeterminate"
                   (click)="onClickItem({ $event: $event, $data: item });"/>
            <label class="form-check-label"
                   (click)="item.checked = !item.checked; onCheckedChange(); onClickItem({ $event: $event, $data: item });">
                {{item.text}}</label>
        </div>
    </div>
</ng-template>

<context-menu #treeviewContextMenuComponent
              [disabled]="!contextMenu || !contextMenu.length"
              (close)="onContextMenuClose()">
    <ng-template
        contextMenuItem
        *ngFor="let item of contextMenu"
        [visible]="item?.visible?.apply(this, [ item ])"
        [enabled]="item?.enabled?.apply(this, [ item ])"
        [divider]="item?.divider?.apply(this, [ item ])"
        (execute)="$event.item = item; onMenuEvent({ $data: $event })"
    ><span (click)="onMenuEvent({ $event: $event, $data: item })">
        <nb-icon [icon]="item?.icon?.apply(this, [ item ])" pack="fa"></nb-icon>
        {{item?.title?.apply(this, [item]) | translate}}</span></ng-template>
</context-menu>
