@import '../../../@theme/styles/themes';

@include nb-install-component() {
    ::ng-deep nb-card {
        transform: translate3d(0, 0, 0);
    }
    ::ng-deep ngx-treeview ngx-treeview-item {
        [aria-disabled='true'] {
            color: nb-theme(text-disabled-color);
            pointer-events: none;
        }
        .item-image {
            width: 24px;
            height: 24px;
            cursor: pointer;
            padding: 2px;
        }
    }
    ::ng-deep .dropdown-menu .dropdown-container {
        padding: 0 0.6rem;
    }
}
